.form{
    border: 3px solid black;
    background-color: mediumaquamarine;
    max-width: 400px;
    margin: auto; 
    text-align:center;
    border-radius:  10px;
}
.container{
    margin: 0;
    padding: 0;
    display: inline;
}
.label {
    display: block;
    font-size: 20px;
}
.sele{
    font-family: "Roboto";
    text-align: center;
    font-size: 15px;
    display: inline;
    padding: 5px 40px;
    background-color: whitesmoke;
    border: 1px solid #2f3549;
}
.inputN{
    display: inline;
    padding: 5px 40px;
    background-color: white;
    border: 1px solid #2f3549;
}
.inputT{
    display: inline;
    padding: 5px 40px;
    background-color: whitesmoke;
    border: 1px solid #2f3549;
}
.title{
    font-family: "Roboto";
    font-size: 30px;
}
.create{
    margin-top: 15px;
    padding:5px 40px ;
    border: 1px solid #2f3549;
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    background-color:  rgba(17, 17, 17, 1);
    border-radius: 15px;
}
